body { /* adding readablity */
	color: #333333; 
	background-color: #DFEFF0;
	font-family: Arial, Helvetica, sans-serif;
}

h1 { /* styles the only h1 element: "Tim Cook" */
	color: #AD235E;
	border-bottom: 1px solid #AD235E;
}

.container { 	/* controls the width of all content */ 
	width:90%;
	max-width: 960px;
	margin-left:40px;
}

.left, .right{   /* uses inline-block to create columnar layout */
	display:inline-block;
	vertical-align: top;
	width:45%;
	padding: 0 15px;
}

figure { /* adjusting whitespace around pictures */
	margin: 30px 10px;
}

table, h2, h3, article { /* helps add proper whitespace between elements */
	margin: 20px 0 0 0;
}

/****** Styles that fix citation in the footer ********/
footer a {
	text-decoration: none;
	color: #7D9C9F;
}

footer a:hover { 
	color: #AD235E; 
}
